.container {

    color: black;
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;


    background: #B8E1FC;
    background: radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link {
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 12px;
}
