.input {

    &:focus-within {
        outline: 2px solid var(--mantine-color-slate-7);
        border-color: transparent;
    }
}

.button {
    &[data-variant="base"] {
        background-color: var(--mantine-color-elimai-6);
        color: var(--mantine-color-white);

        transition: background .25s ease-in-out;

        &:hover {
            background-color: var(--mantine-color-elimai-4);
        }

        &:disabled {
            background-color: var(--mantine-color-slate-5);
        }
    }

    &[data-variant="alert"] {
        background-color: var(--mantine-color-red-6);
        color: var(--mantine-color-white);
        transition: background .25s ease-in-out;

        &:hover {
            background-color: var(--mantine-color-red-4);
        }

        &:disabled {
            background-color: var(--mantine-color-red-1);
        }
    }

    &[data-variant="outline"] {
        border: 1px solid var(--mantine-color-elimai-6);
        color: var(--mantine-color-elimai-6);

        &:disabled {
            border: 1px solid var(--mantine-color-slate-5);
            color: var(--mantine-color-slate-5);
        }
    }
}
