.image {
    position: relative;
    background-image: url('/hero/1920.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

@media(max-width:1200px) {
    .image {

        background-image: url('/hero/1200.png');

        height: 350px;
    }
}

@media(max-width:800px) {
    .image {

        background-image: url('/hero/800.png');

        height: 275px;
    }
}

@media(max-width:500px) {
    .image {

        background-image: url('/hero/500.png');

        height: 150px;
    }
}
